body{
    font-family: 'Times New Roman';
    color: black;
    background: linear-gradient(to right, #fdfbfb 0%, #ebedee 100%);  
    letter-spacing: 2px; 
       
}

img:hover{
    box-shadow: 0 0 11px black;
    transition: box-shadow .3s;
}

.nav--bar{
    display: flex;
    justify-content: end;
    margin: 24px;
}

.nav--links{
    text-decoration: none;
    margin-right:15px;
    color:black;
}

.nav--links:hover{
    text-decoration: underline;
}

.first--page{
    
    padding-top: 80px;
    padding-left: 160px;
    height:100%;
}

.header{  
    font-weight: 600;
    font-size: 59px;
}

.about{
    line-height: 2; 
}

.second--page{
    margin-top: 20vh;
    padding-left: 160px;
} 

.line-1{
    height: 0.5px;
    background: black;
    margin-top: 100px;
}

.vertical--line{
    border-left: 1px solid black;
    height: 20px;
    margin-right: 10px;
}

.about{
    line-height: 2;  
}

.info{
   display:grid;
   grid-template-columns: auto auto auto;
   margin-top: 20px;  
}

.info--detailed{
    margin: 20px;
}

.headShot{
    height:200px;
    width:200px;
    margin-left:100px;
    border-radius: 14px;
    border: 5px solid white;
    
}

.second--main{
    display: flex;
}


.third--page{
    padding-left: 160px;
    margin-top: 5px;  
 }


.work--photo{
    width:60%;
    height:auto;
}


.work--info{
    display:grid;
    grid-template-columns: auto auto ;
}

.work--container{
   font-weight: normal;
   font-size: 16px;
}

.work--description{
    font-weight: 600;
}
.link--project{
    text-decoration: none;
    color:black;
}

.link--project:hover{
    text-decoration:underline;
}

.footer{
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;                                                                            
}

.footer--text{
    font-size: 20px;
}

.footer--text2{
    font-size: 50px;
    font-weight: 600;
}

ion-icon{
    font-size:32px;
    color:black;
}

ion-icon:hover{
    box-shadow: 0 0 11px black;
    transition: box-shadow .3s;
}

.social--media{
    margin-right: 20px;
}

.footer--copyright{
    background-color: white;
    text-align: center;
    padding: 5vh;
}